<nav
    class="container col-span-2 mx-auto flex max-w-5xl justify-between p-8 text-sm"
>
    <a
        href="/"
        class="font-inter font-semibold transition-colors hover:text-neutral-200"
        >/home</a
    >
    <ul
        role="navigation"
        class="flex space-x-4 font-semibold"
    >
        <li>
            <a
                href="/uses"
                class="hover:text-neutral-200"
                >/uses</a
            >
        </li>
        <li>
            <a
                href="/blog"
                class="hover:text-neutral-200"
                >/blog</a
            >
        </li>
        <li>
            <a
                href="/tags"
                class="hover:text-neutral-200"
                >/tags</a
            >
        </li>
    </ul>
</nav>
