---
import { Icon } from "astro-icon/components";

interface Props {
    icon: string;
    url: string;
    aria: string;
}

const { icon, url, aria } = Astro.props;
---

<a
    href={url}
    class="flex place-items-center transition-colors hover:text-teal-500"
    aria-label={aria}
>
    <Icon
        name={icon}
        class="h-8 w-8"
    />
</a>
